@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #e84242;
  --black-color: #0e0e0e;
  --border-color: 0.1rem solid rgba(255, 255, 255, 0.4);
  --white-color: #ffffff;
  --box-shadow-color: rgba(0, 0, 0, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: 0.4s ease;
}

/* base html codes */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

body {
  background: var(--main-color);
  height: 200vh;
}

.header {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0 0 17px -2px var(--box-shadow-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .logo img {
  height: 10rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size:1.6rem ;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover{
  border-color: var(--main-color);
  padding-bottom: 0.5rem;
}

.header .buttons button{
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
  background-color: transparent;
}